@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "roboto";
    text-align: justify;
    list-style-type: none;
}

.row::after {
    clear: both;
    content: "";
    display: table;
}

:root {
    --primary: #2A1E5C;
    --secondary: #EE4266;
    --light-color: #C4CBCA;
    --dark-color: #0A0F0D;
}

.colunas {
    display: flexbox;
    justify-items: center;

}

body {
    background-color: var(--light-color);
}

span {
    height: 100px;
}

header {
    background-color: var(--primary);
    width: 100%;
    height: 100px;
    padding: 10px 0;
}

header ul {
    width: 100%;
    height: 100%;
    padding: 5px 0;
}

header ul li {
    padding: 0;
    color: var(--light-color);
    text-align: center;
}

header ul li:hover {
    color: var(--secondary);
    cursor: pointer;
}

header ul li:nth-child(2) {
    border-left:1px solid var(--light-color) ;
    border-right:1px solid var(--light-color) ;
}

header h1 {
    text-align: center;
    color: var(--secondary);
}

.row {
    height: 600px;
}

main {
    height: 100%;
    width: 100%;
}

footer {
    background-color: var(--primary);
    color: var(--secondary);
    text-align: center;
    font-size: 30px;
    width: 100%;
    padding: 50px 0;
}

footer p {
    text-align: center;

}


/* Smartphone */
[class*="col-"] {
    float: left;
    width: 100%;
    padding: 10px;
}

@media only screen and (min-width: 600px) {
    /* Tablet */
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 700px) {
    /* PC */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}